.btn-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container button {
  border-radius: 0.375rem;
  font-size: 1.5rem;
  margin: 2rem;
  padding: 0.5rem 1.5rem;
}

.btn-container button:active {
  background-color: #0b7fc4;
  color: #fff;
  transition: 0.1s linear;
}

label {
  color: #fff;
  display: inline-block;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.shiftTime {
  margin-left: 0.75rem;
  height: 22px;
}

input[type="date"] {
  height: 20px;
}

button[type="submit"] {
  /* height: 30px; */
  font-size: 1rem;
  padding: 0.375rem 0.8rem;
}
